@import url('https://fonts.cdnfonts.com/css/digital-numbers');

.container {
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.nokia-desktop {
    z-index: 10;
    position: absolute;
    display: block;
}

.nokia-mobile {
    display: none;
}

.screen {
    margin-top: 160px;
    padding-top: 100px;
    background-color: #96D202;
    width: 500px;
    height: 400px;
} 

.board {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(40, 0fr);
    margin: 0 auto;
    z-index: 1;
}

.pixel {
    position: relative;
    width: 9px;
    height: 9px;
    display: block;
    /* border: 1px solid rgb(181, 181, 181);
    background-color: #fff; */
    border: 1px solid transparent;
    background-color: #96D202;
    float: left;
}

.active {
    background-color: #2B3D09;
    /* background-color: red; */
}

.corner {
    position: relative;
    background-color: transparent;
    background-color: blue;
}

.ball {
    background-color: #2B3D09;
}

.scoreboard {
    width: 425px;
    margin: 0 auto;
    border-bottom: 4px solid #2B3D09;
}

.points {
    display: block;
    font-size: 22px;
    font-family: 'Digital Numbers', sans-serif;
}

.corner-line-top {
    display: block;
    position: absolute;
    bottom: -2px;
    left: -5px;
    width: 19px;
    height: 4px;
    background-color: #2B3D09;
    z-index: 200;
}

.corner-line-bottom {
    display: block;
    position: absolute;
    left: -5px;
    top: -2px;
    width: 19px;
    height: 4px;
    background-color: #2B3D09;
    z-index: 200;
}

.corner-line-left {
    display: block;
    position: absolute;
    right: -1px;
    width: 4px;
    height: 12px;
    background-color: #2B3D09;
    z-index: 200;
}

.corner-line-right {
    display: block;
    position: absolute;
    left: -1px;
    width: 4px;
    height: 12px;
    background-color: #2B3D09;
    z-index: 200;
}

.controller {
    display: none;
}

.menu-screen {
    background-color: #799A03;
    height: 500px;
    margin: -40px auto 0 auto;
    text-align: center;
}

.menu-screen img {
    width: 500px;
    height: auto;
}


@media only screen and (max-width: 650px) {
    .nokia-desktop {
        display: none;
    }

    .nokia-mobile {
        display: block;
        z-index: 10;
        position: absolute;
    }

    .scoreboard {
        width: 292px;
        border-bottom: 3px solid #2B3D09;
    }
    
    .points {
        font-size: 18px;
    }

    .screen {
        margin-top: 90px;
        padding-top: 100px;
        width: 400px;
        height: 300px;
    } 
    
    .pixel {
        width: 5.5px;
        height: 5.5px;
    }

    
    .menu-screen img {
        width: 375px;
    }

    .corner-line-top {
        width: 13px;
        height: 3px;
        left: -4px;
    }
    
    .corner-line-bottom {
        width: 13px;
        height: 3px;
        left: -4px;
    }
    
    .corner-line-left {
        width: 3px;
        height: 8px;
    }
    
    .corner-line-right {
        width: 3px;
        height: 8px;
    }

    .controller {
        display: block;
        z-index: 100;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
    }

    .button-wrapper {
        width: 400px;
        padding: 20px 0;
        height: auto;
        margin: 0 auto;
    }

    .btn {
        display: block;
        margin: 0 auto;
        padding: 17px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.864);
        box-sizing: border-box;
    }

    .arrow {
        display: block;
        width: 70px;
        height: 70px;
    }

    .arrow-up {
        background: url(../../../assets/images/snake/arrow-cnt-up.svg);
        background-size: cover;
    }

    .arrow-down {
        background: url(../../../assets/images/snake/arrow-cnt-down.svg);
        background-size: cover;
        box-sizing: border-box;
    }

    .btn-left-right {
        display: flex;
        align-items: center;
    }

    .arrow-left {
        background: url(../../../assets/images/snake/arrow-cnt-left.svg);
        background-size: cover;
    }

    .arrow-right {
        background: url(../../../assets/images/snake/arrow-cnt-right.svg);
        background-size: cover;
    }

    .confirm {
        width: 70px;
        height: 70px;
    }

    @media only screen and (max-width: 400px) {
        .arrow {
            width: 65px;
            height: 65px;
        }

        .button-wrapper {
            width: 350px;
        }

    }

    
}


/*
96D202
2B3D09
*/