<div class="container">
    <div class="wrapper">
        <img class="nokia-desktop" src="assets/images/snake/nokia-3310-desktop.png"/>
        <img class="nokia-mobile" src="assets/images/snake/nokia-3310-mobile.png"/>
        <img class="nokia-landscape" src="assets/images/snake/nokia-3310-landscape.png"/>
        <div class="screen">
            <div *ngIf="showMenuScreen" class="menu-screen">
                <img src="assets/images/snake/snake-menu.png">
            </div>
            <div *ngIf="showGameScreen" class="game-screen">
                <div class="scoreboard">
                    <div class="points">{{scoreBoard}}</div>
                </div>
                <div class="board">
                    <div *ngFor="let pixel of pixelBoard">
                        <span [ngClass]="pixel.active ? 'pixel active' : pixel.ball ? 'pixel ball' : 'pixel'">
                            <span *ngIf="pixel.corner" [ngClass]="pixel.corner.position == 'top' ? 'corner-line-top' : 
                                        pixel.corner.position == 'bottom' ? 'corner-line-bottom' : 
                                        pixel.corner.position == 'left' ? 'corner-line-left' : 
                                        pixel.corner.position == 'right' ? 'corner-line-right' : ''"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="game-over-screen">
                <div>
                    <h1> GAME OVER</h1>
                    <div class="game-score">
                        <p>Your score: </p>
                        <p class="result">{{points}}</p>
                    </div>
                    <div class="game-over-buttons">
                        <button> < Restart</button>
                        <button>Exit ></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="controller"> 
            <div class="button-wrapper">
                <button class="btn" (click)="keyEventMove('ArrowUp')"><span class="arrow arrow-up"></span></button>
                <div class="btn-left-right">
                    <button class="btn" (click)="activeMoveKeyEvent ? keyEventMove('ArrowLeft') : activeGameOverKeyEvent ? keyEventGameOver('ArrowLeft') : ''">
                        <span class="arrow arrow-left"></span>
                    </button>
                    <button class="btn confirm"></button>
                    <button class="btn" (click)="activeMoveKeyEvent ? keyEventMove('ArrowRight') : activeGameOverKeyEvent ? keyEventGameOver('ArrowRight') : ''">
                        <span class="arrow arrow-right"></span>
                    </button>
                </div>
                <button class="btn" (click)="keyEventMove('ArrowDown')"><span class="arrow arrow-down"></span></button>
            </div>
        </div>
    </div>
    
    <button class="go-back-button" routerLink="/my-projects" routerLinkActive="activebutton">
        <img src="assets/images/shared/left-arrow.png"/>
    </button>
</div>