.container {
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.nokia-desktop {
    z-index: 10;
    position: absolute;
    display: block;
}

.nokia-mobile {
    display: none;
}

.screen {
    margin-top: 180px;
    padding-top: 100px;
    background-color: #96D202;
    width: 500px;
    height: 400px;
} 

.board {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(40, 0fr);
    margin: 0 auto;
    z-index: 1;
}

.pixel {
    position: relative;
    width: 9px;
    height: 9px;
    display: block;
    /* border: 1px solid rgb(181, 181, 181);
    background-color: #fff; */
    border: 1px solid transparent;
    background-color: #96D202;
    float: left;
}

.active {
    background-color: #2B3D09;
    /* background-color: red; */
}

.corner {
    position: relative;
    background-color: transparent;
    background-color: blue;
}

.ball {
    background-color: #2B3D09;
}

.points {
    text-align: right;
    margin-right: 40px;
    display: block;
}

.corner-line-top {
    display: block;
    position: absolute;
    bottom: -2px;
    left: -5px;
    width: 19px;
    height: 4px;
    background-color: #2B3D09;
    z-index: 200;
}

.corner-line-bottom {
    display: block;
    position: absolute;
    left: -5px;
    top: -2px;
    width: 19px;
    height: 4px;
    background-color: #2B3D09;
    z-index: 200;
}

.corner-line-left {
    display: block;
    position: absolute;
    right: -1px;
    width: 4px;
    height: 12px;
    background-color: #2B3D09;
    z-index: 200;
}

.corner-line-right {
    display: block;
    position: absolute;
    left: -1px;
    width: 4px;
    height: 12px;
    background-color: #2B3D09;
    z-index: 200;
}


@media only screen and (max-width: 650px) {
    .nokia-desktop {
        display: none;
    }

    .nokia-mobile {
        display: block;
        z-index: 10;
        position: absolute;
    }

    .points {
        margin-right: 55px;
    }

    .screen {
        margin-top: 100px;
        padding-top: 100px;
        width: 400px;
        height: 300px;
    } 
    
    .pixel {
        width: 5.5px;
        height: 5.5px;
    }

    .corner-line-top {
        width: 14px;
        height: 3px;
        left: -4px;
    }
    
    .corner-line-bottom {
        width: 14px;
        height: 3px;
        left: -4px;
    }
    
    .corner-line-left {
        width: 3px;
        height: 8px;
    }
    
    .corner-line-right {
        width: 3px;
        height: 8px;
    }
    
}


/*
96D202
2B3D09
*/