<div class="container">
    <div class="social-media">
        <span class="line"></span>
        <a href="https://www.facebook.com/caroline.tt.vooo/" target="_blank">
            <img src="../../../assets/images/footer/facebook.png"/>
        </a>
        <a href="https://www.instagram.com/carolinevox3/" target="_blank">
            <img src="../../../assets/images/footer/instagram.png"/>
        </a>
        <a href="https://www.linkedin.com/in/caroline-vo-b65486195/" target="_blank">
            <img src="../../../assets/images/footer/linkedin.png"/>
        </a>
        <a href="https://www.youtube.com/channel/UC3jbPa1lnYl9-OixnIYgXKw" target="_blank">
            <img src="../../../assets/images/footer/youtube.png"/>
        </a>
        <span class="line"></span>
    </div>
    <img class="signature" src="../../../assets/images/shared/signature.png"/>
    <p>Copyright © 2022, Inc.</p>
</div>

