
<div class="container">
    <nav class="nav" data-aos="fade-down" data-aos-duration="800">
       <ul class="nav-list">
           <li><a href="#">About me</a></li>
           <li><a href="#">My careers</a></li>
           <li><a href="#">Projects</a></li>
           <li><a href="#">Contact me</a></li>
       </ul>
   </nav>

   <div class="content">
       <h1 data-aos="fade-right" data-aos-duration="2000">Personal Website</h1>
       <p data-aos="fade-left" data-aos-duration="2000">by Caroline Vo</p>
       <img src="../../../assets/images/shared/signature.png" data-aos="fade-up" data-aos-duration="2000"/>
   </div>

   <div class="arrow-container">
       <img id="arrow" src="../../../assets/images/shared/down-arrow.png"/>
   </div>
   
   
</div>