<section class="header-container" >
    <img id="image-top" src="../../../assets/images/intro/carro.png" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="500"/>
    <img id="image-corner" src="../../../assets/images/shared/corner.png" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="500"/>
    
    <div class="content" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="500">
        <h1>I'm Caroline Vo</h1>
        <p> Welcome to <span id="orange">My personal website.</span> <br/>
            In this page you will find out more about me where <br/>  
            I will share my experiences and interests. <br/>
            At the same time I would show you how I explore <br/>  my designing skills on this website.
        </p>

        <p style="margin-top: 30px; "> 
            Let's get started!
        </p>

        <button id="header-button">Start</button>
    </div>

    <img id="image-bottom" src="../../../assets/images/intro/carro_mobile.png" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="100"/>
    
</section>



