<div class="container">
    <div class="content" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="100">
        <img id="corner-top" src="../../../assets/images/shared/small-corner.png"> 
        <img id="corner-bottom" src="../../../assets/images/shared/small-corner.png"> 
        <div class="description">
            <h1>My projects</h1>
            <p>Here you can see all my projects that I've been working so far. 
                The reason that I have been working with these projects is 
                to learn and explore my experinces on what I can do.
            </p>
            <button 
                routerLink="/my-projects"
                routerLinkActive="activebutton">
                Let's play!
            </button>
        </div>
    </div>
</div>

